In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
l=[1,2,3,4,5]
sum=0
for i in l:
    sum=sum+i
print(sum)

15

In [4]:
l=[1,2,3,4,5,6,7,8]
l1=[]
for i in l:
    l1=[i]+l1
print(l1)

[8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
num=5
product=1
for i in range(1,num+1):
    product=product*i
print(f"factorial of {num} is :",product)

factorial of 5 is : 120

In [7]:
num=int(input("enter a number for table:"))
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

enter a number for table: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [11]:
l=[1,2,3,4,5,6,7,8,9]
count_even=0
count_odd=0
for i in l:
    if i%2==0:
        count_even=count_even+1
    else:
        count_odd=count_odd+1
print(f"even no in the list is {count_even}, odd no in the list is {count_odd}")

even no in the list is 4, odd no in the list is 5

In [12]:
for i in range(1,6):
    print (i*i)

1
4
9
16
25

In [13]:
l=[1,2,3,4]
count=0
for i in l:
    count=count+1
print("length of the list is: ",count)

length of the list is:  4

In [16]:
l=[1,2,3,4,5]
sum=0
for i in l:
    sum=sum+i
avg=sum/i
print(avg)

3.0

In [19]:
num=int(input("enter a number"))
first=0
second=1
print(first)
print(second)
for i in range(1,num):
    third=first+second
    print(third)
    first=second
    second=third

enter a number 6

0
1
1
2
3
5
8

In [47]:
l=[11,12,13,14,15]
l1=[]
for i in l:
    for j in range(2,int(i/2)+1):
        if i%j==0:
            break
    else:
        l1.append(i)
print(l1)

[11, 13]

In [48]:
str1="hello how are you"
l=['a','e','i','o','u']
count=0
for i in str1:
    if i in l:
        count=count+1
print(count)

7

In [49]:
for i in range(1,5):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [50]:
lst_temp_cel=[45,67,88,95]
lst_temp_faren=[]
for i in lst_temp_cel:
    faren=1.8*i+32
    lst_temp_faren.append(faren)
print(lst_temp_faren)

[113.0, 152.60000000000002, 190.4, 203.0]

In [52]:
num1=10
num2=20
for i in range(1,num1+1):
    for j in range(1,num2+1):
        if num1%i==0:
            if num2%j==0:
                if i==j:
                    pass
print("GCD is:",i)

GCD is: 10

In [53]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8,9]
for i in l1:
    for j in l2:
        if i==j:
            print(i)

4
5

In [3]:
for i in range(1,11):
    print (i*"*")

*
**
***
****
*****
******
*******
********
*********
**********

In [31]:
l=[1,2,3,4,5,4,8]
l1=[]
for i in l:
    for j in l[::-1]:
        if i!=j:
            pass
        else:
            l.remove(i)
            l1.append(i)
print(l1)

[1, 3, 5, 8]